
body{
    background-color: #f5f5f5 !important;
    background-image: url('../images/ball2.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.dropdown-content li>a,
.dropdown-content li>span{
    color: #546e7a !important;
}

@media screen and (max-width: 360px){
    .brand-logo{
        font-size: 18px !important;
    }

    .licon{
        font-size: 22px !important;
    }

    .sizeLockOpen{
        font-size: 50px !important;
    }

}
